.cart {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px;
    cursor: pointer;
    
  }
  
  .cart .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .cart .card img {
    width: 40px;
    height: 40px;
  }
  
  .cart .card p {
    width: 200px;
    cursor: pointer;
  }
  
  .cart .card .quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .cart .card .quantity p {
    width: 50px;
    text-align: center;
    cursor: pointer;
  }
  
  .cart .card .quantity button {
    width: 50px;
    cursor: pointer;
  }
  
  .cart .total {
    text-align: right;
    border-top: 1px solid black;
    cursor: pointer;
  }
  